<html>
    <head>

    </head>
    <body>
        {% include 'common/navigationBar.html' %}<br><br>
        <div>
            <h3><span>Create New</span></h3>
            <form method="post" action="/createGroup">
                <input type="text" name="name" placeholder="Group Name"><br>
                <input type="submit" class="w3-button w3-green">
            </form>
        </div>
        <div>
            <h3><span>joined Groups</span></h3>
        </div>
        <div>
            <h3><span>Unjoined Groups</span></h3>
        </div>
    </body>
</html>