<html>
    <head>

    </head>
    <body>
        {% include 'common/navigationBar.html' %}<br><br>
        <div>
            <h3><span>Create New</span></h3>
            <form method="post" action="/createGroup">
                <input type="text" name="name" placeholder="Group Name"><br>
                <input type="submit" class="w3-button w3-green">
            </form>
        </div>
        <div>
            <h3><span>joined Groups</span></h3>
            <table class="w3-centered w3-striped w3-table w3-border w3-bordered">
                <tr>
                    <th width="33.33%">
                        Group Name
                    </th>
                    <th width="33.33%">
                        Group Owner
                    </th>
                    <th width="33.33%">

                    </th>
                </tr>
                {% for i in range(joinedGroups|length) %}
                    <tr>
                        <td width="33.33%">
                            {{ joinedGroups[i]['name'] }}
                        </td>
                        <td width="33.33%">
                            {{ joinedGroups[i]['owner'] }}
                        </td>
                        <td width="33.33%">
                            <form method="post" action="/selectedGroup">
                                <button name="idgroup" value="{{ joinedGroups[i]['idgroup'] }}" class="w3-button w3-green">Open</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h3><span>Unjoined Groups</span></h3>
            <table class="w3-centered w3-striped w3-table w3-border w3-bordered">
                <tr>
                    <th width="33.33%">
                        Group Name
                    </th>
                    <th width="33.33%">
                        Group Owner
                    </th>
                    <th width="33.33%">

                    </th>
                </tr>
                {% for i in range(unjoinedGroups|length) %}
                    <tr>
                        <td width="33.33%">
                            {{ unjoinedGroups[i]['name'] }}
                        </td>
                        <td width="33.33%">
                            {{ unjoinedGroups[i]['owner'] }}
                        </td>
                        <td width="33.33%">
                            <form method="post" action="/joinGroup">
                                <button name="groupID" value="{{ unjoinedGroups[i]['idgroup'] }}" class="w3-button w3-green">Join</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                {% for i in range(requestedGroups|length) %}
                    <tr>
                        <td width="33.33%">
                            {{ requestedGroups[i]['name'] }}
                        </td>
                        <td width="33.33%">
                            {{ requestedGroups[i]['owner'] }}
                        </td>
                        <td width="33.33%">
                            <span>Already Requested</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>