<html>
    <head>
        <script src="../../static/js/users.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        {% include 'common/navigationBar.html' %}<br><br>

        <span><h1 class="w3-center">Active Users</h1></span>
            <table class="w3-centered w3-striped w3-table w3-border w3-bordered">
                <tr>
                    <th width="33.33%">
                        Name
                    </th>
                    <th width="33.33%">
                        User ID
                    </th>
                    <th width="33.33%">
                        Deactivate
                    </th>
                </tr>
                {% for i in range(users|length) %}
                    {% if users[i]['isActive'] %}
                        <tr>
                            <td width="33.33%">
                                {{ users[i]['userID'] }}
                            </td>
                            <td width="33.33%">
                                {{ users[i]['name'] }}
                            </td>
                            <td width="33.33%">
                                <form method="post" action="/admin/deactivateUser">
                                    <button name="deactivateUserID" type="submit" value="{{ users[i]['userID'] }}" class="w3-btn w3-green w3-center">
                                        Deactivate User
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table><br>

        <span><h1 class="w3-center">In Active Users</h1></span>
        <table class="w3-centered w3-striped w3-table w3-border w3-bordered">
            <tr>
                <th width="33.33%">
                    Name
                </th>
                <th width="33.33%">
                    User ID
                </th>
                <th width="33.33%">
                    Activate
                </th>
            </tr>
            {% for i in range(users|length) %}
                {% if users[i]['isActive'] != true %}
                    <tr>
                        <td width="33.33%">
                            {{ users[i]['userID'] }}
                        </td>
                        <td width="33.33%">
                            {{ users[i]['name'] }}
                        </td>
                        <td width="33.33%">
                            <form method="post" action="/admin/activateUser">
                                <button name="activateUserID" type="submit" value="{{ users[i]['userID'] }}" class="w3-btn w3-green w3-center">
                                    Activate User
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </body>
</html>