<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
    </head>
    <body>
        {% include 'common/navigationBar.html' %}<br><br>
        <h3>Group Name</h3>
        {{ groupData[0]['name'] }}
        <h3>Group Owner</h3>
        {{ groupData[0]['owner'] }}<br>

        <form method="post" action="/uploadNewFile">
            <input hidden name="idgroup" value="{{ groupData[0]['idgroup'] }}">
            <input type="submit" class="w3-button w3-green" value="New Upload">
        </form>

        <div>
            {% for i in range(groupData|length) %}

                {% if groupData[i]['idgroup_items'] != None %}

                    <span>uploader_id: </span>{{ groupData[i]['uploader_id'] }}<br>
                    <span>description: </span>{{ groupData[i]['description'] }}<br>
                    <span>Name: </span>{{ groupData[i]['group_items.name'] }}<br>
                    <span>Description: </span>{{ groupData[i]['description'] }}<br>
                    <span>Date Created: </span>{{ groupData[i]['date'] }}<br>
                    <span>Time Created: </span>{{ groupData[i]['time'] }}<br>
                    <span>Date Last Accessed: </span>{{ groupData[i]['date_access'] }}<br>
                    <span>Time Last Accessed: </span>{{ groupData[i]['time_access'] }}<br>

                    <form id="download">
                        <input hidden name="idgroup_items" value="{{ groupData[i]['idgroup_items'] }}">
                    </form>

                    <a href="http://storage.googleapis.com/secure-flask-app-bucket/Itinerary_ Delhi.pdf_20January00_11212018" onclick="downloadFile()" class="w3-button w3-green">
                        Download
                    </a>

                    <br><br><br>

                {% endif %}

            {% endfor %}
        </div>

        <script>
            function downloadFile(){
                 $("#download").ajaxSubmit({
                    url: 'downloadFile',
                    type: 'post'
                 })
            }
        </script>

    </body>
</html>