<html>
    <head>
    </head>
    <body>
        {% include 'common/navigationBar.html' %}<br><br>
        <h3>Group Name</h3>
        {{ groupData[0]['name'] }}
        <h3>Group Owner</h3>
        {{ groupData[0]['owner'] }}<br>

        <form method="post" action="/uploadNewFile">
            <input hidden name="idgroup" value="{{ groupData[0]['idgroup'] }}">
            <input type="submit" class="w3-button w3-green" value="New Upload">
        </form>

        <div>
            {% for i in range(groupData|length) %}

                {% if groupData[i]['uploader_id'] != None %}

                    <span>uploader_id: </span>{{ groupData[i]['uploader_id'] }}<br>
                    <span>description: </span>{{ groupData[i]['description'] }}<br>
                    <span>Download URL: </span>{{ groupData[i]['file_url'] }}<br>
                    <span>Name: </span>{{ groupData[i]['group_items.name'] }}<br>
                    <span>Description: </span>{{ groupData[i]['description'] }}<br>
                    <span>Date Created: </span>{{ groupData[i]['date'] }}<br>
                    <span>Time Created: </span>{{ groupData[i]['time'] }}<br>
                    <span>Date Last Accessed: </span>{{ groupData[i]['date_access'] }}<br>
                    <span>Time Last Accessed: </span>{{ groupData[i]['time_access'] }}<br>
                    <br><br><br>

                {% endif %}
            {% endfor %}
        </div>

    </body>
</html>